<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bot.yiyi.mapper.AIMapper">
    <update id="updateRole">
        update group_info set ai_role = #{role} where group_id = #{groupId}
    </update>
    <select id="selectRole" resultType="java.lang.Integer">
        select ai_role from group_info where group_id = #{groupId}
    </select>
</mapper>